.form__date-popup.date-popup
  .date-popup__nav-day
    a.date-popup__nav-item.date-popup__nav-item--arrow-left(href="#")
    a.date-popup__nav-item(href="#") Today
    a.date-popup__nav-item.date-popup__nav-item--arrow-right(href="#")
  .date-popup__nav-month-year
    select.date-popup__item
      option(value="January") January
      option(value="February") February
      option(value="March") March
      option(value="April") April
      option(value="May") May
      option(value="June" selected) June
      option(value="July") July
      option(value="August") August
      option(value="September") September
      option(value="October") October
      option(value="November") November
      option(value="December") December
    select.date-popup__item
      - for(let i=2020; i<=2045; i++)
        option(value= i)= i
  .date-popup__calendar
    table.date-popup__table-today
      tr
        - let month = ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su']
        each item in month
          th= item
      tr
        -for(let i = 1; i <= 7; i++)
          td
      tr
        -for(let i = 1; i <= 7; i++)
          td= i
      tr
        -for(let i = 8; i <= 14; i++)
          td= i
      tr
        -for(let i = 15; i <= 21; i++)
          td= i
      tr
        -for(let i = 22; i <= 28; i++)
          td= i
      tr
        -for(let i = 29; i <= 30; i++)
          td= i
  .date-popup__next-month July 2020
  .date-popup__calendar
    table.date-popup__table-today
      tr
        each item in month
          th= item
      tr
        -for(let i = 1; i <= 2; i++)
          td
        -for(let i = 1; i <= 5; i++)
          td= i
      tr
        -for(let i = 6; i <= 12; i++)
          td= i
      tr
        -for(let i = 13; i <= 19; i++)
          td= i
      tr
        -for(let i = 20; i <= 26; i++)
          td= i
      tr
        -for(let i = 27; i <= 31; i++)
          td= i